In [1]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import string

In [2]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to C:\Users\Nishi
[nltk_data]     Kapadia\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\Nishi
[nltk_data]     Kapadia\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [3]:
#Reading the excel data
df = pd.read_excel(r"C:\College\sem6\NLP\project\text_dataset.xlsx")
df

                                                   Text
0     In The Simpsons Movie released in July 2007 na...
1     Subject: professional logo for you now  workin...
2     Subject: get your babies diapers bill paid for...
3     Subject: very uuseful  attache how to save on ...
4     Subject: model effort in houston  christian , ...
...                                                 ...
2880  Get the official ENGLAND poly ringtone or colo...
2881  Subject: perfect logo charset = koi 8 - r " > ...
2882  Subject: save your money by getting an oem sof...
2883                            Dear where you. Call me
2884  Subject: logo , stationer , website design and...

[2885 rows x 1 columns]

# EDA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2885 entries, 0 to 2884
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    2885 non-null   object
dtypes: object(1)
memory usage: 22.7+ KB

In [5]:
# check for missing values and remove
print(df.isnull().sum())

Text    0
dtype: int64

In [6]:
# check for duplicate values and remove
print(df.duplicated().sum())
df = df.drop_duplicates(keep='first')
df.shape

95

(2790, 1)

# Preprocessing

In [7]:
# replace unnecessary letters/words
replace_list = ["\\n","\\t","\\r","â","€","™","ð","Ÿ","ðŸ‘","$","â€™ll","ƒ","¢","â€ƒ","â€¢","Â§","§","Â","Ã¼","Ã","¼","º","œ","˜","£","â€“","â€œ","&lt;#&gt;","â€Œ","ðŸŽ","ð","Ÿ","Ž","Í","â€Œ ï»¿ Í","ï»¿","ðŸ”¨","ðŸ¤©","©","¤","±","ðŸ˜±","ðŸ˜±"," Í â€Œ ï»¿","ÿ","x = = x","*","" ]
for letter in replace_list:
    df['Text'] = df['Text'].str.replace(letter, '')

C:\Users\Nishi Kapadia\AppData\Local\Temp\ipykernel_2920\295814246.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Text'] = df['Text'].str.replace(letter, '')

In [20]:
lemmatizer = WordNetLemmatizer()

def preprocessing_text(text):
    if isinstance(text, str):
        text = text.lower()
        text = nltk.word_tokenize(text)

        y = []
        for i in text:
            if i.isalnum():
                y.append(i)

        text = y[:]
        y.clear()

        for i in text:
            if i not in stopwords.words('english') and i not in string.punctuation:
                y.append(lemmatizer.lemmatize(i))

        return " ".join(y)
    else:
        
        return str(text)  # Convert non-string types to string

# Apply the modified transform_text2 function using lambda to the 'Text' column
df['preprocessed_text'] = df['Text'].apply(lambda x: preprocessing_text(x))
print(df['preprocessed_text'])

C:\Users\karan\AppData\Local\Temp\ipykernel_352\3495447233.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['preprocessed_text'] = df['Text'].apply(lambda x: preprocessing_text(x))